*{
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #121212;
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    color: #E0E0E0;
}

header{
    display: flex;
    padding: 0rem 1rem;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    gap: 1rem;
}

header nav ul{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header nav ul a{
    display: inline-block;
    text-decoration: none;
    color: #E0E0E0;
    font-size: 20px;
    padding: 1.5rem 2rem;
    margin: 0px;
    transition: background-color ease-in-out 0.5s;
}

header nav ul a:hover{
    background-color: #88888873;
}



#hero { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10%;
} 

.hero-left {
    flex: 1 1 45%;
    max-width: 500px;
}

.hero-left h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-left h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero-left p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-right {
    flex: 1 1 45%;
    text-align: center;
} 

.hero-left button a{
    text-decoration: none;
    color: #E0E0E0;
}

.hero-right img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px #FF4500;
    margin-bottom: 20px;
}

#proyectos{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 10px auto;
}

.slideshow {
    position: relative;
    max-width: 600px;
    height: 500px;
    margin: auto;
    background-color: #004D61;
    border-radius: 8px;
    overflow: hidden;
}

.slideshow-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
}

.slideshow-item {
    min-width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-right, .slideshow-left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #00000099;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.slideshow-right:hover, .slideshow-left:hover {
    background-color: #000000cc;
}

.slideshow-right {
    right: 10px;
}

.tarjeta{
    background-color: #004D61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
   
    padding: 20px;
    margin: 10px auto;
    gap: 1rem;
}

.tarjeta p{
    padding: 0px;
    margin: 0px;
}

.tarjeta-imagen{
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.tarjeta-imagen img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.tarjeta-imagen h2 {
    margin: 10px 0 5px 0;
    font-size: 20px;
}

.tarjeta-imagen p {
    margin: 0;
    font-size: 14px;
    flex-grow: 1;
}



#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.field input{
    padding: 0rem 2rem;
    text-align: center;
}

.field textarea{
    padding: 0rem 2rem;
    text-align: center;
}

.field-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #3E5641;
    color: #E0E0E0;
    padding: 0.5rem 6rem;
    border-radius: 20px;
    transition: background-color, ease-in-out 0.5s;
    border: 0px;
    
}

button:hover{
    background-color: #2a3a2c;
    
}