*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #121212;
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    color: #E0E0E0;
}

header{
    display: flex;
    padding: 0rem 1rem;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    gap: 1rem;
}

header nav ul{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header nav ul a{
    display: inline-block;
    text-decoration: none;
    color: #E0E0E0;
    padding: 1.5rem 2rem;
    margin: 0px;
    transition: background-color ease-in-out 0.5s;
}

header nav ul a:hover{
    background-color: #88888873;
}

#hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#hero div.hero_izquierda{
    flex: 1 1 45%;
    text-align: center;
}

#hero div.hero_izquierda h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

#hero div.hero_izquierda h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#hero div.hero_izquierda p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

#hero div.hero_derecha{
    flex: 1 1 45%;
}

#hero .hero_derecha img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}



button{
    background-color: #673AB7;
    color: #E0E0E0;
}

button a{
    text-decoration: none;
    color: #E0E0E0;
}